In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
tr = pd.read_csv("input/cmc_train.csv")
ts = pd.read_csv("input/cmc_test.csv")
df = pd.concat([tr, ts], axis=0)
df['contraceptive'] = df['contraceptive'].replace(1, 'no-use')
df['contraceptive'] = df['contraceptive'].replace(2, 'long-term')
df['contraceptive'] = df['contraceptive'].replace(3, 'short-term')

In [18]:
d = {}
total = 0
for wife_age in sorted(tr['wifes_age'].unique()):
    var_1 = tr[tr['wifes_age'] == wife_age]
    d['wifes_age_' + str(wife_age)] = {}
    for wife_edu in sorted(tr['wifes_edu'].unique()):
        var_2 = var_1[var_1['wifes_edu'] == wife_edu]
        d['wifes_age_' + str(wife_age)]['wife_edu_' + str(wife_edu)] = var_2.shape[0]
        total += var_2.shape[0]
#         print('wifes_age_' + str(wife_age), 'wife_edu' + str(wife_edu), var_2.shape[0])

for k1 in d:
    for k2 in d[k1]:
        d[k1][k2] = d[k1][k2]/total

pd.DataFrame(d)

            wifes_age_1  wifes_age_2  wifes_age_3  wifes_age_4
wife_edu_1     0.014567     0.016023     0.018937     0.051712
wife_edu_2     0.063365     0.060452     0.064093     0.040058
wife_edu_3     0.084487     0.080117     0.059723     0.055353
wife_edu_4     0.075018     0.090313     0.121631     0.104151

In [49]:
def probability(data, variable_name):
    p = {}
    proba_key = 'proba'
    p[variable_name] = []
    p[proba_key] = []
    total = 0
    
    for variable_value in data[variable_name].unique():
        event_name = '{}_{}'.format(variable_name, variable_value)
        frequency = data[data[variable_name] == variable_value].shape[0]
        p[variable_name].append(event_name)
        p[proba_key].append(frequency)
        total += frequency

    for i, v in enumerate(p[proba_key]):
        p[proba_key][i] = v / total    

    return pd.DataFrame(p)

probability(tr, 'wifes_edu')

      proba    wifes_edu
0  0.227968  wifes_edu_2
1  0.101238  wifes_edu_1
2  0.279680  wifes_edu_3
3  0.391114  wifes_edu_4

In [90]:
from itertools import product

def join(data, variables):
    p = {}
    proba_key = 'proba'
    p[proba_key] = []
    total = 0
  
    variables_events = []
    for variable_name in variables:
        variable_events = []
        for variable_value in data[variable_name].unique():
            variable_events.append((variable_name, variable_value))
        variables_events.append(variable_events)

    for variables_values in product(*variables_events):
        expr = ' & '.join(map(lambda x: '({} == {})'.format(x[0], x[1]), variables_values))
        print(data.query(expr))
#         print('&'.join(list(variables_values)))
#         for x in variables_values:
#             print(x)
        print()
#     print(list())
#     print(' & '.join(list(map(list, ))))
#     print(' && '.join(map(list, product(*variables_events))))
    
#     for variable_name in variables:
#         p[variable_name] = []
#         for variable_value in data[variable_name].unique():
#             event_name = '{}_{}'.format(variable_name, variable_value)
#             frequency = data[data[variable_name] == variable_value].shape[0]
#             p[variable_name].append(event_name)
#             p[proba_key].append(frequency)
#             total += frequency

#     for i, v in enumerate(p[proba_key]):
#         p[proba_key][i] = v / total    
#     print(p)
#     return pd.DataFrame(p)

join(tr, ['wifes_edu', 'wifes_age'])

      wifes_age  wifes_edu  husbands_edu  n_children  wifes_rel  \
0             1          2             3           3          1
33            1          2             3           1          1
54            1          2             2           2          1
57            1          2             3           0          1
59            1          2             3           1          1
61            1          2             3           1          1
63            1          2             4           1          1
78            1          2             4           1          1
85            1          2             3           0          1
93            1          2             2           3          1
95            1          2             3           0          1
98            1          2             4           2          1
117           1          2             3           1          0
148           1          2             2           2          1
160           1          2             4           1          1
173           1          2             4           0          1
183           1          2             2           3          1
188           1          2             4           0          1
192           1          2             3           2          1
206           1          2             3           1          1
218           1          2             3           1          1
264           1          2             4           2          1
268           1          2             4           4          1
269           1          2             1           0          1
283           1          2             4           2          1
328           1          2             2           3          1
330           1          2             2           2          1
332           1          2             2           2          1
336           1          2             4           2          1
337           1          2             4           4          1
...         ...        ...           ...         ...        ...
763           1          2             4           3          1
807           1          2             3           2          1
832           1          2             4           1          1
851           1          2             3           4          1
861           1          2             2           1          1
879           1          2             2           0          1
881           1          2             2           1          1
882           1          2             2           1          1
891           1          2             2           1          1
898           1          2             2           3          1
921           1          2             3           4          1
923           1          2             3           3          1
928           1          2             1           3          1
929           1          2             3           4          1
936           1          2             2           2          1
994           1          2             3           2          1
1013          1          2             4           0          1
1035          1          2             3           2          1
1061          1          2             4           1          1
1091          1          2             4           1          1
1093          1          2             2           1          1
1107          1          2             1           0          1
1111          1          2             2           4          1
1127          1          2             4           3          1
1248          1          2             4           3          1
1258          1          2             3           1          1
1260          1          2             4           2          1
1327          1          2             4           2          1
1365          1          2             2           1          1
1366          1          2             4           3          1

      wifes_working  husbands_occ  sol  media  contraceptive
0                 1             2    3      0              1
33                1             3    3      0              1
54                1             2    2      1              1
57                1             3    4      0              1
59                1             2    3      0              1
61                1             2    1      0              1
63                1             3    1      0              1
78                0             4    4      0              1
85                1             2    1      0              1
93                1             3    1      0              1
95                0             2    2      0              1
98                1             3    3      0              1
117               1             3    2      0              1
148               1             3    1      0              1
160               1             2    4      0              1
173               1             3    2      0              1
183               0             3    1      0              1
188               1             3    3      0              1
192               1             3    1      0              1
206               1             3    3      0              1
218               1             2    4      0              1
264               1             3    1      0              1
268               1             3    3      0              1
269               1             3    2      0              1
283               1             3    4      0              1
328               1             3    3      0              1
330               1             3    1      0              1
332               1             3    1      1              1
336               1             1    4      0              1
337               1             3    4      0              1
...             ...           ...  ...    ...            ...
763               1             3    2      0              3
807               1             3    1      0              3
832               1             3    3      0              3
851               1             3    3      0              3
861               1             3    2      0              3
879               0             3    2      0              3
881               1             3    1      0              3
882               1             3    3      0              3
891               1             3    2      0              3
898               0             3    3      0              3
921               1             2    3      0              3
923               1             2    3      0              3
928               0             3    1      1              3
929               0             3    2      0              3
936               1             3    3      0              1
994               1             3    1      0              1
1013              1             2    2      0              1
1035              1             3    2      0              1
1061              1             3    4      0              1
1091              1             3    4      0              1
1093              1             3    1      1              1
1107              1             2    2      0              1
1111              1             3    4      0              1
1127              1             3    2      0              1
1248              1             3    3      0              3
1258              1             3    1      0              3
1260              1             2    4      0              3
1327              1             3    2      0              3
1365              1             2    4      0              3
1366              1             1    3      0              3

[87 rows x 10 columns]

      wifes_age  wifes_edu  husbands_edu  n_children  wifes_rel  \
2             4          2             3           5          1
13            4          2             4           1          1
17            4          2             2           5          1
19            4          2             1           4          1
25            4          2             4           5          1
37            4          2             2           3          1
40            4          2             3           0          1
41            4          2             4           2          1
68            4          2             3           4          1
69            4          2             3           5          1
86            4          2             4           5          1
91            4          2             3           1          1
159           4          2             2           5          1
166           4          2             4           2          1
167           4          2             1           5          1
170           4          2             1           3          1
242           4          2             2           1          1
259           4          2             1           4          0
263           4          2             3           5          1
338           4          2             3           0          1
378           4          2             2           5          1
386           4          2             3           4          1
387           4          2             4           2          1
396           4          2             4           4          1
399           4          2             3           5          1
440           4          2             4           5          1
471           4          2             3           5          1
485           4          2             4           5          1
495           4          2             2           5          1
864           4          2             3           5          0
892           4          2             3           4          1
894           4          2             4           3          0
941           4          2             3           2          1
951           4          2             4           1          1
956           4          2             2           4          1
957           4          2             2           4          0
958           4          2             2           5          1
962           4          2             3           4          1
963           4          2             2           4          1
970           4          2             3           3          0
1011          4          2             4           5          1
1029          4          2             2           5          1
1042          4          2             3           5          1
1043          4          2             3           5          1
1045          4          2             4           2          1
1060          4          2             3           5          1
1089          4          2             2           5          1
1098          4          2             2           5          1
1113          4          2             3           4          1
1137          4          2             2           5          1
1223          4          2             4           4          0
1227          4          2             3           1          0
1321          4          2             2           4          1
1348          4          2             3           3          0
1358          4          2             2           4          0

      wifes_working  husbands_occ  sol  media  contraceptive
2                 1             3    4      0              1
13                0             3    3      0              1
17                1             2    4      0              1
19                1             2    1      1              1
25                1             3    3      0              1
37                1             3    4      0              1
40                0             1    3      0              1
41                1             1    3      0              1
68                1             2    3      0              1
69                1             1    4      0              1
86                1             1    4      0              1
91                0             2    3      0              1
159               0             3    1      0              1
166               0             2    4      0              1
167               0             2    4      0              1
170               0             4    3      0              1
242               0             3    2      0              1
259               1             2    4      0              1
263               0             3    3      0              1
338               1             1    2      0              1
378               1             2    2      0              1
386               0             2    4      0              1
387               1             3    4      0              1
396               1             3    3      0              2
399               1             3    4      0              2
440               1             1    4      0              2
471               1             1    2      0              2
485               1             2    3      0              2
495               1             2    4      0              2
864               0             3    4      0              3
892               1             3    3      0              3
894               1             3    4      0              3
941               1             1    4      0              1
951               1             2    3      0              1
956               0             3    2      1              1
957               1             2    2      0              1
958               1             1    3      0              1
962               1             2    3      0              1
963               1             3    1      0              1
970               1             2    3      0              1
1011              1             2    3      0              1
1029              1             2    2      0              1
1042              1             3    4      0              1
1043              1             3    2      1              1
1045              1             3    2      1              1
1060              1             3    1      0              1
1089              1             3    1      1              1
1098              1             2    2      1              1
1113              1             1    1      0              1
1137              1             3    3      0              2
1223              1             2    3      0              2
1227              1             2    4      0              2
1321              1             2    4      0              3
1348              0             2    4      0              3
1358              0             2    4      0              3

      wifes_age  wifes_edu  husbands_edu  n_children  wifes_rel  \
6             3          2             3           5          1
18            3          2             2           5          1
32            3          2             2           2          1
53            3          2             4           4          1
75            3          2             3           2          1
88            3          2             2           1          1
115           3          2             3           4          1
120           3          2             3           2          1
147           3          2             4           4          1
163           3          2             4           0          1
172           3          2             3           1          1
174           3          2             3           4          1
186           3          2             4           2          1
189           3          2             4           2          1
196           3          2             3           3          1
221           3          2             3           4          1
260           3          2             3           0          1
294           3          2             2           0          0
295           3          2             3           4          0
299           3          2             3           4          0
333           3          2             2           1          1
334           3          2             3           5          1
346           3          2             3           5          1
349           3          2             3           4          1
354           3          2             4           4          1
358           3          2             4           4          0
359           3          2             3           2          0
361           3          2             4           4          1
410           3          2             2           3          1
418           3          2             2           5          1
...         ...        ...           ...         ...        ...
933           3          2             2           5          1
948           3          2             3           1          1
949           3          2             4           3          1
1003          3          2             1           5          1
1027          3          2             3           5          1
1032          3          2             2           5          1
1046          3          2             2           5          1
1052          3          2             4           5          1
1081          3          2             2           3          0
1094          3          2             2           2          1
1119          3          2             2           5          1
1155          3          2             3           4          1
1177          3          2             4           4          0
1181          3          2             2           5          1
1200          3          2             1           4          1
1237          3          2             2           5          1
1250          3          2             3           5          1
1254          3          2             3           5          1
1287          3          2             2           5          1
1301          3          2             3           5          1
1309          3          2             4           4          1
1312          3          2             3           5          1
1324          3          2             3           3          0
1325          3          2             3           5          1
1328          3          2             3           4          1
1333          3          2             4           4          1
1341          3          2             4           5          1
1350          3          2             3           4          1
1353          3          2             4           4          1
1357          3          2             2           5          1

      wifes_working  husbands_occ  sol  media  contraceptive
6                 1             3    2      0              1
18                1             2    3      0              1
32                1             3    1      0              1
53                1             2    3      0              1
75                1             3    2      0              1
88                0             3    2      0              1
115               1             2    3      0              1
120               1             3    2      1              1
147               1             3    2      0              1
163               0             3    4      0              1
172               1             3    4      0              1
174               1             3    1      1              1
186               1             3    3      0              1
189               0             2    4      0              1
196               0             3    2      0              1
221               0             3    2      0              1
260               1             2    4      0              1
294               0             3    3      0              1
295               0             2    4      0              1

In [39]:
def conditional(data, hypothesis, evidence):
    p = {}
    p[evidence] = {}
    evidence_name = '_'.join(evidence.split('_')[:-1])
    evidence_value = int(evidence.split('_')[-1])
    evidence_data = data[data[evidence_name] == evidence_value]
    total = 0

    # find frequencies
    for hypothesis_value in evidence_data[hypothesis].unique():
        hypothesis_name = '{}_{}'.format(hypothesis, hypothesis_value)
        hypothesis_data = evidence_data[evidence_data[hypothesis] == hypothesis_value]
        p[evidence][hypothesis_name] = hypothesis_data[hypothesis].shape[0]
        total += hypothesis_data[hypothesis].shape[0]

    # find probabilities
    for k1 in p:
        for k2 in p[k1]:
            p[k1][k2] = p[k1][k2] / total

    return pd.DataFrame(p)

conditional(tr, 'wifes_working', 'wifes_age_2')

                 wifes_age_2
wifes_working_0     0.289086
wifes_working_1     0.710914

In [ ]:
def marginal(variable):
    pass